URxvt*background: black
URxvt*foreground: white
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0
URxvt*secondaryWheel: 1
URxvt.font: xft:sourcecodepro:size=10
URxvt.scrollBar: false

URxvt.keysym.Shify-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
